* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
      /* color variables */
    --primary: #6B8E23;
    --secondary: #8B5A2B;
    --neutral: #D3CBB7;
    --btn-color: #F1F1F1;
    --black: #010101;

    /* border radius size variables*/
    --sm-radius: 0.1875rem;
    --md-radius: 0.375rem;

    /* target breakpoints variables for screens; `min-width` specifically */
    /* for documentation purpose */
    --xs: 320px;
    --sm: 375px;
    --base: 425px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1440px;
    --xxl: 2560px;

    /* max container width */
    --maxWidth: 1440px;

    /* transition */
    --trans-duration: 300ms;
    --trans-func: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    font-size: 0.9375rem;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: white;
    color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: var(--sm-radius);
    transition-property: all;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-func);
}

button:hover {
  background-color: var(--secondary);
  color: white;
}

.app {
    height: 100vh;
}

@media (min-width: 768px) {
    .app {
        height: auto;
    } 
}

@media (min-width: 1000px) {
    .app {
        height: auto;
    } 
}

@media (min-width: 1440px) {
    .app {
        height: 100vh;
    } 
}